/test

/*
@media screen and (max-width: 768px) {
    .contactForm form {
      max-width: 100%;
    }
  
    
  
    .contactMethod {
      flex-direction: column;
      align-items: center;
    }
  
    .method {
      flex: 1 1 100%;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 480px) {
    .contact-form {
       height: auto;
       padding: 1rem;
       
    }
  
    .contactForm {
      gap: 1rem;
    }
  
    .input {
      font-size: 0.875rem;
      padding: 0.5rem;
    }
  
    .submit {
      font-size: 0.875rem;
      padding: 0.5rem;
    }
   

    .contactMethod {
        display: grid;
         margin-top: 40px;
    }
     
    .para {
      font-size: 0.875rem;
       gap: 10px;
       margin-bottom: 20px;
    }
  }
 */