@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');
 

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #fff;
    width: 100%;
    background-attachment:fixed ;
    
}

.sidebar {
    position: fixed;
    top: 0;
    right: -250px;  
    width: 250px;
    height: 100%;
    background-color:  rgba(255, 255, 255, 0.463) ;
    backdrop-filter:blur(10px);
    color: #000000;
    transition: 0.3s;  
    z-index: 1000;
    overflow-y: auto;
}
  
  .sidebar.active {
    right: 0;  
  }
  
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
     color: #E97C36;
    background-color:transparent; /* Slightly transparent background for the header */
    border-bottom: 1px solid #E97C36;
  }
  .sidebar-header img{
    width: 100px;
    height: 20px;
    margin-top:  10px;
    margin-bottom: 10px;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
 
  .sidebar-menu li a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 15px;
    transition: 0.3s;
  }
  
.sidebar-menu li a:hover {
    background-color: #E97C36;
  
}
  
.open-btn, .close-btn {
    background: none;
    border: none;
    color: #E97C36;
    font-size: 24px;
    cursor: pointer;
}
  
.open-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1001;
}
  
.close-btn {
    margin-left: auto;
    font-size: 30px;
}
  
.wadouz {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    color: #ffffff;
    overflow: hidden;
}
.logo {
    position: absolute;  
    top: 20px; 
    left: 20px; 
    max-width: 150px;  
    z-index: 2;  
}

.logo img {
    width: 100%;  
    border-radius: 6px;  
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
     z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 80px;  

}

.deconstructed {
    position: relative;
    margin: auto;
    color: transparent;
    font-family: 'Cambay', sans-serif ;
    font-size: 10vw;
    font-weight: 800;
    letter-spacing: -0.02em;
    line-height: 1.03em;
}
  
.deconstructed > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color:#E97C36;
    pointer-events: none;
}
  
.deconstructed > div:nth-child(1) {
    -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
    mask-image: linear-gradient(black 25%, transparent 25%);
    animation: deconstructed1 2.5s infinite;
}
  
.deconstructed > div:nth-child(2) {
    -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    animation: deconstructed2 2.5s infinite;
}
  
.deconstructed > div:nth-child(3) {
     -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    animation: deconstructed3 2.5s infinite;
}
  
.deconstructed > div:nth-child(4) {
     -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
    mask-image: linear-gradient(transparent 75%, black 75%);
    animation: deconstructed4 2.5s infinite;
}
  
@keyframes deconstructed1 {
    0% {
      transform: translateX(100%);
    }
    26% {
      transform: translateX(0%);
    }
    83% {
      transform: translateX(-0.1%);
    }
    100% {
      transform: translateX(-120%);
    }
  }
  
  @keyframes deconstructed2 {
    0% {
      transform: translateX(100%);
    }
    24% {
      transform: translateX(0.5%);
    }
    82% {
      transform: translateX(-0.2%);
    }
    100% {
      transform: translateX(-125%);
    }
  }
  
  @keyframes deconstructed3 {
    0% {
      transform: translateX(100%);
    }
    22% {
      transform: translateX(0%);
    }
    81% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-130%);
    }
  }
  
  @keyframes deconstructed4 {
    0% {
      transform: translateX(100%);
    }
    20% {
      transform: translateX(0%);
    }
    80% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-135%);
    }
  }

  .text1 {
    text-align: center;
    color: #000000;  
    margin-bottom: 30px;
    margin-top: 80px;
    background-color: rgba(187, 192, 196, 0.9);  
    border-radius: 20px;
    width: 450px; 
    margin-left: 460px;
    padding: 15px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.content .disc {
    color: #000000;  
    margin-top: 80px;
    line-height: 1.6;
    background-color: rgba(187, 192, 196, 0.9);  
    border-radius: 6px;
    transition: margin-top 0.3s ease;  
}

@media (max-width: 768px) {
    .wadouz {
        align-items: center;
        padding: 10px;
    } 

    .deconstructed {
        font-size: 14vw;  
        margin-left: 0;  
    }

    .text1 {
        font-size: 1vw;  
        margin: 10px auto;  
        width: 277px;  
        border-radius: 100px;
        margin-top: 50px;

    }

    .content .disc {
        font-size: 4vw;
        margin-left: 20px;
        margin-top: 50px;
        margin-right: 20px; 
        text-align: center;  
        line-height: 1.4;
        border-radius: 9px;
    }
}


 
.rejoindre {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    color: #000000;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;

}

.rejoindre h1 {
    margin-top: 60px;
    font-size: 2.5em;
}

.discWadouz {
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-bottom: 140px;
    margin-top: 100px;
}

.store-buttons {
    display: flex;
    gap: 5rem;
}

.playstore-button,
.appstore-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 1);
    padding: 0.625rem 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    outline: 0;
    transition: all 0.2s ease;
    text-decoration: none;
}

.playstore-button:hover,
.appstore-button:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
}

.icon {
    height: 30px;
    width: 100px;
}

.icon1 {
    width: 100px;
    height: 50px;
}

.texts {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1;
}

.text-1 {
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-2 {
    font-weight: 600;
}

@media (max-width: 1024px) {
    .rejoindre h1 {
        font-size: 50px;
    }

    .discWadouz {
        margin-bottom: 80px;
        margin-top: 20px;
    }

    .store-buttons {
        gap: 3rem;
    }
}

@media (max-width: 768px) {
    .rejoindre h1 {
        font-size: 40px;
    }

    .store-buttons {
        flex-direction: column;
        gap: 15px;
        margin-top: 50px;
        
    }

    .playstore-button,
    .appstore-button {
         justify-content: center;
     }
}

 @media (max-width: 480px) {
    .rejoindre h1 {
        font-size: 30px;
    }

    .playstore-button,
    .appstore-button {
        padding: 0.5rem 1rem;
    }

    .icon {
        height: 20px;
        width: 80px;
    }

    .icon1 {
        width: 80px;
        height: 40px;
    }

    .text-1 {
        font-size: 0.65rem;
    }

    .text-2 {
        font-size: 0.8rem;
    }
}


.mission-section {
    margin-top: -100px;  
    height: auto;
    text-align: center;
    padding: 40px;
    background-color: #fff;
    overflow: hidden;

}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
    padding: 20px;
    margin-top: 100px;
    justify-items: center;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;  

}

.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    color: #555;
}

@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .card{
        gap: 60px;
    }
    .mission-section {
        margin-top: 50px; 
    }
}

@media (max-width: 480px) {
    .cards-container {
        grid-template-columns: 6fr;
        margin-top: 50px;
    }
    .mission-section {
        margin-top: 100px;  
    }
}


.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffe100;
    height: 100vh;
    overflow: hidden;

    
}
 
@media (max-width: 768px) {
    .wadouz {
        align-items: center;
        text-align: center;
    }

    .wadouz .back {
        width: 80%;
        height: 300px;
        margin-top: 100px;
    }

    .wadouz h1 {
        font-size: 1.8rem;
    }

    .wadouz p {
        font-size: 1rem;
    }

    img {
        max-width: 80%;
    }
}

section{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    max-width: 550px;
    height: 100vh;
    margin: auto;
    margin-top: 2em;
}

.sectionHeader{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--primaryColor);
    margin-bottom: .5em;
}

.heading,.sub-heading{
    margin-bottom: .5em;
    font-weight: bold;
}

.heading{
    font-size: 2.5em;
}

.sub-heading{
    text-align: left;
}

.contactForm{
    display: grid;
    gap: 3em;
}

form{
    width: 100%;
    margin-top: 3em;
}

.para{
    color: var(--paraColor);
    font-size: 1.1rem;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.para2{
    text-align: left;
}

.input{
    width: 95%;
    max-width: 700px;
    border: none;
    font-size: .9rem;
    padding: 1em;
    outline: none;
    background-color: var(--formBg);
    color: var(--paraColor);
    border-radius: 10px;
    border: 1px solid rgb(53, 53, 53);
    margin-bottom: 1em;

}

.input:focus{
    border: 1px solid var(--primaryColor);
}

.input::placeholder{
    text-transform: capitalize;
}

.submit{
    background-color: var(--primaryColor);
    border: none;
    color: var(--textColor);
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

.map-container{
    position: relative;
    width: 100%;
    height: 500px;
}

.mapBg{
    position: absolute;
    background-color: var(--primaryColor);
    top: 0;
    right: 0;
    width: 200px;
    height: 90%;
 }

.map{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 90%;
 
}

.map iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

.contactMethod{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    text-align: left;
}

.method{
    display: flex;
    align-items: center;
}

.contactIcon{
    font-size: 2rem;
    color: var(--primaryColor);
    width: 70px;
}

@media screen and (min-width:800px) {
    section{
        max-width: 1100px;
    }
    .contactForm{
        grid-template-columns: 1fr 1fr;
    }   
     
    .contactMethod{
        flex-direction: row;
        justify-content: space-between;
    }
    
}
